.menu {
	background-color: var(--grey-500);
	min-height: 100dvh;
	padding: 2rem;
}
.menu__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
	padding: 20px;
}
.title {
	color: var(--white);
}
.menu__categories {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px 0;
}

.btn {
	font-size: 1rem;
}
