.job-section {
	color: var(--grey-50);
}
.job-section__title {
	font-size: 2rem;
	letter-spacing: normal;
	font-weight: 500;
}
.job-section__company {
	font-size: 1rem;
	font-weight: 500;
	background-color: var(--grey-700);
	display: inline-block;
	padding: 5px 10px;
	border-radius: var(--borderRadiusc);
	color: var(--grey-300);
	margin: 15px 0;
}
.job-section__dates {
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: var(--grey-200);
}
.job-section__duties {
	margin-top: 30px;
}

.job-section__duty {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	line-height: 1.4em;
	margin-bottom: 10px;
	color: var(--grey-50);
}
.job-section__icon {
	font-size: 1.5rem;
	display: block;
	margin-right: 20px;
}

.btn {
	margin-top: 40px;
	font-size: 1.2rem;
}
