.card {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 20px 0;
	width: 100%;
}

.card__image {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	object-fit: cover;
}

.card__texts {
	flex: 1;
}

.card__name {
	font-weight: 700;
	margin: 0;
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.card__age {
	color: rgb(71, 71, 71);
	margin: 0;
	font-size: 1rem;
}
