.bday-card {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	width: 100%;
}

.bday-card__image {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	box-shadow: var(--shadow-4);
	object-fit: cover;
}

.bday-card__texts {
	flex: 1;
}

.bday-card__name {
	font-weight: 500;
	margin: 0;
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.bday-card__age {
	color: rgb(71, 71, 71);
	margin: 0;
	font-size: 1rem;
}
