.bday-list {
	width: min(550px, 100%);
	background-color: var(--white);
	margin: 20px auto;
	padding: 20px;
	border-radius: var(--borderRadius);
	box-shadow: var(--shadow-4);
}

.bg {
	min-height: 100dvh;
	padding: 2rem;
	background-color: var(--grey-500);
}

.bday-list__heading {
	font-size: 1.5rem;
	margin: 10px 0;
}

.bday-list__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
}

.bday-list__btn {
	width: 100%;
	font-size: 1.1rem;
	margin: 5px 0;
}
