.bday-list {
	width: min(550px, 100%);
	background-color: var(--white);
	margin: 20px auto;
	padding: 20px;
	border-radius: var(--borderRadius);
	box-shadow: var(--shadow-4);
}

.bday-list::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	min-height: 100dvh;
	background-color: var(--grey-400);
}

.bday-list__heading {
	font-size: 1.5rem;
	margin: 10px 0;
}

.bday-list__content {
	width: 100%;
}

.bday-list__btn {
	width: 100%;
	font-size: 1.1rem;
	margin: 5px 0;
}
